<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>

  <body>
    <div id="root">
      {{{body}}}
    </div>
    <script type="text/javascript" src="./bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="./bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
  </body>

</html>
